@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Poppins", sans-serif;
}
.menu-dropdown-icon:before {
  display: none;
  color: #333;
  cursor: pointer;
  padding: 1em;
  right: 0;
  position: absolute;
  background: #fff;
}
.menu > ul {
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  clear: right;
  margin-right: inherit;
}
.menu > ul > li {
  float: left;
  padding: 0;
  margin: 0;
}
.menu > ul > li a {
  display: block;
  cursor: pointer;
}
.menu > ul > li > ul {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background: #fff;
  padding: 20px;
  position: absolute;
  z-index: 99;
  left: 0;
  top: 100%;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  transform: translateY(15px);
  border: 1px solid #e5e7eb;
  border-top: 2px solid theme("colors.secondary");
  transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
.menu > ul > li > ul.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 25%;
  background: none;
  float: left;
}
.menu > ul > li > ul > li a {
  color: #202020;
  padding: 0.2em 0;
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  transition: all 0.3s ease;
}
.menu > ul > li > ul > li a:hover {
  color: theme("colors.secondary");
  margin-left: 5px;
}
.menu > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  box-sizing: border-box;
}
.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-size: 0.8em;
}
.menu > ul > li > ul.normal-sub {
  width: 250px;
  left: auto;
  padding: 4px 15px;
}
.menu > ul > li > ul.normal-sub > li {
  width: 100%;
}
.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 0.9em 0;
}
.menu > ul > li:nth-child(3) > ul {
  margin: 0 auto;
  max-width: 1920px;
  box-sizing: border-box;
}

/* Custom arrow styling */
.swiper-button-next,
.swiper-button-prev {
  color: theme("colors.white");
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}
.swiper-button-next {
  right: 10px;
}
.swiper-button-prev {
  left: 10px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
}
.swiper-pagination-bullet-active {
  background: theme("colors.secondary") !important;
}

.testimonial-carousel .swiper-pagination {
  position: relative;
  margin-top: 3rem;
}
.testimonial-carousel .swiper-pagination-bullet {
  background-color: #ccc;
  opacity: 1;
  margin: 0 0.5rem;
}

/* ===================================
   Media Queries
====================================== */
@media only screen and (max-width: 959px) {
  .menu {
    display: inline-block;
    padding: 10px 0 0;
    height: 80px;
    transition: all 0.3s ease-in-out;
  }
  .menu-mobile {
    display: block;
    float: right;
    padding: 15px 20px 0;
  }
  .menu-dropdown-icon:before {
    display: none;
  }
  .menu > ul {
    display: none;
    width: 100%;
  }
  .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
    position: relative;
  }
  .menu > ul > li a {
    padding: 1em 1.5em;
    width: 100%;
    display: block;
  }
  .menu > ul > li > ul {
    position: relative;
    display: none;
    width: 100%;
    background: #fff;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    top: auto;
  }
  .menu > ul > li > ul.show {
    display: inline-block;
  }
  .menu > ul > li:nth-child(3) > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .menu > ul > li > ul.normal-sub {
    width: 100%;
  }
  .menu > ul > li > ul > li {
    float: none;
    width: 100%;
  }
  .menu > ul > li > ul > li:first-child {
    margin: 0;
  }
  .menu > ul > li > ul > li > ul {
    position: relative;
    margin: 0;
  }
  .menu > ul > li > ul > li > ul > li {
    padding: 0;
  }
  .menu > ul > li > ul > li a {
    padding: 1em 0 0;
  }
  .menu .show-on-mobile {
    display: block;
    background: white;
    border: 1px solid #e5e7eb;
  }
  .testimonial-carousel .swiper-pagination {
    margin-top: auto;
  }
}
